@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    color: rgb(35, 46, 197);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: aqua;
}

header {
    background-color: #ead7f5;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.subheader {
    font-size: 24px;
}

button {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

a {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

figure {
    max-width: 100%;
    width: 40%;
}

.logo, .footer__logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
}

#about, #discord, #contact, #footer {    
    padding: 48px 0;
}

#about {
    background-color: #f8f;
}

h2 {
    padding: 16px;
    font-size: 36px;
    text-align: center;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.about__img--wrapper {
    max-width  : 100%;
    }

img {
    width: 100%;
}

.about__img--wrapper, .section__description--wrapper {
    padding: 0 24px;
    align-items: center;
}

.section__description--para {
    padding: 8px 8px;
    font-size: 18px;
}

#discord {
    background-color: rgb(223, 226, 12);
}

#contact {
    background-color: #dce8ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;   
    padding: 24px; 
}

input, textarea {
    margin-bottom: 24px;
    padding: 6px 12px;
    font-size: 20px;
}

footer {
    background-color: #ead7f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 480px;    
}

.footer__links {
    margin-bottom: 16px;
}

.footer__link {
    padding: 0 12px;    
}

@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }
    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home__description--button {
        max-width: 240px;
    }
    h1 {
        text-align: center;
        font-size: 60px;
    }
    .subheader {
        text-align: center;
        font-size: 28px;
    }
    ul {
        display: none;
    }

    .section__description {
        flex-direction: column;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .about__img--wrapper {
        width: 100%;
    }

    #discord .section__description {
        flex-direction: column-reverse;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 10%;
    }

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    button, a {
        font-size: 18px;
    }
}
}